.header {
  text-align: center;
  color: white;
  background: blue;
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.level p {
  margin-left: 5px;
  margin-right: 5px;
}

.box {
  height: 100px;
  width: 100px;
}
